[Unit]
Description=zookeeper
After=network.target
Requires=network.target

[Service]
Type=simple
PIDFile=/opt/zookeeper/zookeeper.service.pid
WorkingDirectory=/opt/zookeeper
User=root
Group=root

ExecStart=
ExecStop=
ExecReload=
TimeoutSec=300

[Install]
WantedBy=multi-user.target
